li {
    font-size: 25px;
    font-weight: 700;
    margin-right: 30px;
}

nav {
    background-color: lightgray;
    height: 70px;
    margin-bottom: 50px;
}

.list {
    box-shadow: 0 4px black;
}

a:hover {
    box-shadow: 0 4px black;
}

#container {
    margin: auto;
    width: 25%;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 11px;
}