iframe {
    width: 100%;
}    

.bar {
    box-shadow: 0 4px black;
  }

.tab {
    margin: auto;
    width: 60%;
}

.table {
    background-color: black;
}

tr td  {
    color: white;
}

th {
    font-weight: 600;
    color: white;
}

.dt {
    background-color: red;
    border-radius: 5px;
    border: none;
    color: white;
}

.dl {
    background-color: green;
    border-radius: 5px;
    border: none;
    color: white;
}

tbody tr:nth-child(odd) {background-color: rgb(32, 41, 32);}

tbody tr:hover {
    background-color: #333;
}

button:hover {
    color: black;
}

.diagonalCross{
    background: linear-gradient(to top left, black calc(50% - 1px), white , black calc(50% + 1px) )
} 